* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0px;
  margin: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0.5;
}

tooltip {
  background: #1e1e2e;
  border-radius: 2px;
}

tooltip label {
  color: #cad3f5;
  margin-right: 5px;
  margin-left: 5px;
}

.modules-right,
.modules-center,
.modules-left {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 0;
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces button {
  padding: 0 5px;
  color: #6e6a86;
  margin: 0 1.5px;
}

#workspaces button.active {
  color: #dfdfdf;
  border-radius: 0;
}

#workspaces button.focused {
  color: #d8dee9;
}

#workspaces button.urgent {
  color: #ed8796;
  border-radius: 0;
}

#workspaces button:hover {
  color: #dfdfdf;
  border-radius: 0;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-notification,
#custom-recorder,
#disk,
#language,
#memory,
#network,
#tray,
#pulseaudio,
#temperature,
#workspaces {
  color: #dfdfdf;
  padding: 0 7px;
  border-radius: 0;
}

#temperature.critical {
  background-color: #ff0000;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#taskbar button.active {
  background-color: #7f849c;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-recorder {
  color: #ff2800;
}
